{% extends 'base.html' %}

{% block title %} Homepage {% endblock %}

{% block content %}

<div>
  <button><a href="/add">Put a Pet Up for Adoption!</a></button>
</div>
<div>
  <ul>
    {% for pet in pets %}
    <li>
      <img src="{{ pet.photo_url }}" alt=" {{ pet.name }} has no photo">
      <a href="/{{ pet.id }}">{{ pet.name }}</a>
      {% if pet.available %}
        <span><b>is available!</b></span>
      {% else %}
        <span>is adopted!</span>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}